*, ol, ul, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.8);
    // font-family: 'latoregular';
    font-size: 14px;
    color: #A8A8A8;
    // font-family: 'Regular';
}

a:hover {
    text-decoration: none;
}