.drag-container {
  background:#efe;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.item-0 {
  top:40px;
  left:150px;
}
.item-1 {
  top:40px;
  left:200px;
}
.item-2 {
  top:40px;
  left:250px;
}
.item-3 {
  top:40px;
  left:300px;
}
.drag-content {
  border-radius: 10px;
  width:120px;
  height:60px;
  text-align: center;
  font-size: small;
  border:1px solid dodgerblue;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  background:#fff;
  padding:5px;
}
.dropped .drag-content {
  background-color: #fff;
}
.drag-active .drag-content {
  transform: scale(1.14) rotate(3deg);
  background-color:#d0e5f5;
  box-shadow: 0 1px 8px rgba(0,0,0,0.35);
}

.drop-spot0 {
  top:120px;
  left:165px;
  position:absolute;
}
.drop-spot1 {
  top:120px;
  left:338px;
  position:absolute;

}
.drop-spot2 {
  top:120px;
  left:506px;
  position:absolute;
}
.drop-spot3 {
  top:120px;
  left:678px;
  position:absolute;

}

.drop-content {
  border-radius: 10px;
  width:120px;
  height:60px;
  text-align: center;
  font-size: small;
  border:1px solid dodgerblue;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  background:#fff;
  padding:1px;
}
.dragging .drop-content {
  border: 2px dashed #999;
}
.drop-hovering .drop-content {
  background: #fdd;
}
.drop-full {
  background: #fee;
}
.drop-hovering .drop-full {
  border-color:#459e00;
  background:#fdd;
}
.drop-one p {
  position:relative;
  height:24px;
  margin:auto;
  text-transform: uppercase;
  color:#ccc;
  text-align:center;
}
