<div class=".drag-container">
    <drag-and-drop >
        <div class="row">
            <div class="col-sm-1">
                <img src="static/images/layout/demoL9-TitleButton_repeat03.png"/>
            </div>
            <div class="col-sm-11">
                <h4 class="title">
                    <span alian="center">Arrage the words to form a coherent sentence.</span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <drag-item ng-repeat="option in data.options" class="drag-item" drag-id="item-{{option.id}}" drop-to="top right">
                    <p>{{option.phoneticize}}</br> {{option.title}}</p>
                </drag-item>
                <div class="row"></div>
                <drop-spot ng-repeat="option in data.options" max-items="1"  drop-id="drop-spot{{option.id}}">
                    <p>Drop Here</p>
                </drop-spot>
            </div>
        </div>
    </drag-and-drop>
</div>

