<footer class="footer">
    <div ng-show="isCheckButton">
        <ul class="list-inline">
            <li><a class="btn btn-lg check-btn" href="#" ng-click="clickEvent()" ng-disabled="isClickButtonDisabled">Check</a></li>
        </ul>
    </div>
    <div ng-show="!isCheckButton">
        <ul class="list-inline">
            <li><a class="btn btn-lg slick-arrow prev" ng-hide="isPrevButtonHidden" href="#">Previous</a></li>
            <li><a class="btn btn-lg slick-arrow next" ng-hide="isNextButtonHidden" href="#">Next</a></li>
        </ul>
    </div>
</footer>