.base {
    .btn {
        background-color: #2EA9DF;
        color: #F5FFFA;
        width: 80px;
    }
}

.jumbotron {
    border-radius: 8px;
}

.header {
    border: none;
    z-index: 1000;
    background: #7EBADF;
    padding: 10px;
    h1 {
        color: #F5FFFA;
    }
}

.section {
    // padding-top: 70px;
    // padding-bottom: 110px;
    // background-color: #5B5550;
    background-color: #FFFFFF;
}

.answer {
    background-color: rgb(253, 134, 9);
    text-align: center;
    h1 {
        color: #FFFFFF;
        margin: 40px 0; 
    }
    a.btn {
        width: 400px;
        font-size: 30px;
        border-radius: 30px;
        color: rgb(253, 134, 9);
        background-color: #FFFFFF;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}