.score-page {
    margin: 250px 20px;
    color: #2EA9DF;
    text-align: center;
    font-weight: bold;
    .label-box {
        font-size: 20px;
    }
    .score {
        margin-left: 20px;
        font-size: 65px;
    }
}