.sketch-video {
    &.container {
        max-width: 1100px;
        margin-top: 10px;
    }
    .title {
        color: rgb(10, 144, 214);
        margin: 20px;
        font-size: 20px;
        text-align: center;
    }
    .video {
        text-align: center;
    }
}