.sketch-question {
    &.container {
        max-width: 1100px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .title {
        margin: 20px;
        font-size: 40px;
        text-align: left;
    }
}