<div class="choice">
    <div class="title">
        Select the correct answer. Before making the selection, you may listen to the question and options by clicking on the audio button.
    </div>
    <div op-slick infinite="false" init-onload="true" data="data" prev-arrow=".base .choice-prev" next-arrow=".base .choice-next" fade="true">
        <div class="question" ng-repeat="problem in data">
            <div class="phoneticize">{{problem.question.phoneticize}}</div>
            <div class="question-title">{{problem.question.title}}</div>
            <div class="option-box" ng-repeat="option in problem.options">
                <div class="row">
                    <div class="col-xs-11">
                        <div class="option" ng-click="choice.clickOption($index, $parent.$index)" ng-class="{'isClicked': option.isClicked, 'isCorrect': option.isCorrect}">
                            <div class="col-xs-10">
                                <div class="phoneticize">{{option.phoneticize}}</div>
                                <div class="question-title">{{option.title}}</div>
                            </div>
                            <iframe scrolling="no" width="36" height="36" src="http://www.ximalaya.com/swf/sound/red.swf?id=8140464" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-xs-1 no-padding">
                        <img ng-show="option.isCorrect" src="/static/images/layout/demoL9-right-button.png">
                        <img ng-show="option.isClicked && choice.isSubmitted && !option.isCorrect" src="/static/images/layout/demoL9-wrong-button.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="v-footer">
        <ul class="list-inline">
            <li><button class="btn btn-lg" ng-disabled="!choice.isOptionClicked || choice.isSubmitted" ng-click="choice.clickSubmit()">Submit</button></li>
            <li><a class="btn btn-lg slick-arrow choice-next" ng-show="choice.isSubmitted && choice.problemIndex !== data.length-1" ng-click="choice.clickNext()" href="#">Next</a></li>
        </ul>
    </div>
</div>